#listsSongsForm{
    display:none;
    flex-direction: row;
}

#listsSongs{
    display:flex;
    flex-direction: row;
}

.list{
    text-decoration: none;
    color: black;
}

#formNewList{
    display:none;
}