.contentSong{
  background-color: $lightgrey;
  border-radius: $v12;
  padding: $v20;
  margin: 0 100px;
  margin-bottom: 2em;

  .song{
    @include flex-row;
    column-gap: 0;
    border-radius: 12px;
    background-color: $white;


    .songInfo{
      height: 150px;
      width: 350px;


      a{
        @include flex-column;
        text-decoration: none;
        row-gap: 2em;
        color: $black;
        font-weight: bold;
        font-size: 1.2em;
        div{
          margin-left: $v15;

        }
      }
    }

    .nav{
      display: flex;
      align-items: end;
      text-align: center;
      padding: $v10;
      background-color: $lightblue;
      width: 50px;

      .btnRemoveSong{
        border: none;
        background-color: transparent;
      }

    }
  }

}

.dropdown{
  display: inline-block;
  position: relative;
  width: 100px;

  .btnAddList{
    border: none;
    background-color: transparent;
    transition: transform, 1s;
  }

  .btnAddList:hover{
    transform: rotate(90deg);
  }

  .dropdown-content{
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    .form-dropdown{
      display: inline-block;
      position: relative;
      width: 100px;
    }

    button{
      color: black;
      width: 100%;
      text-decoration: none;
      display: block;
      background-color: white;
    }

    button:hover{
      background-color: #00A4BD;
      color: white;
    }
  }
}