// Theme
body{
  @include pm-0;
  font-family: "Century Gothic";
}


.wrapper{
  background-color: $white;

  .header{
    @include flex-row;
    justify-content: space-between;
    background-color: $lightgrey;

    .navbar{
      @include flex-center;
      justify-content: space-evenly;
      margin-right: $v20;
      column-gap: 1.5em;

      button{
        cursor: pointer;
      }

    }

  }

}


.path{
  @include flex-center;

  p{
    font-size: 40px;
    font-weight: bold;

  }
}

.contentLists{
  padding: $v20;
  background-color: $lightgrey;
  row-gap: 3em;
  margin: 0px 100px;
  margin-bottom: 2em;
  border-radius: $v12;

  .listLists{
    @include sizes($v250, $v600);
    padding: $v5;
    background-color: $white;
    border-radius: 12px;

    .list{
      @include flex-column;
      @include sizes($v250, $v600);
      row-gap: 4em;
      color: $white;
      font-weight: bold;

      .nameList{
        @include flex-start;
        font-size: 2em;
        margin-left: $v15;

      }
      .descriptionList{
        @include flex-end;
        font-size: 1.8em;
        margin-right: $v15;

      }
    }

    a{
      text-decoration: none;
      color: $black;
    }
  }

  .listLists div:hover{
    background-position: bottom;
  }
}


.contentLists{
  .Reggeton{
    @include bg-img("../img/badBunny.jpg", $v600);
    transition: background-position, 2s;
  }

  .Rock{
    @include bg-img("../img/rock.jpg", $v600);
    transition: background-position, 2s;
  }

  .Rap{
    @include bg-img("../img/rap.jpg", $v600);
    transition: background-position, 2s;
  }

  .Electronic{
    @include bg-img("../img/electronic.jpg", $v600);
    transition: background-position, 2s;
  }

  .Pop{
    @include bg-img("../img/pop.png", $v600);
    transition: background-position, 2s;
  }

  .Flamenco{
    @include bg-img("../img/flamenco.jpg", $v600);
    transition: background-position, 2s;
  }
}



.dropdown:hover .dropdown-content{
  display: block;
  overflow: visible;
}



@media (max-width: 768px){
  .logo{
    @include sizes(175px, 275px);
    @include bg-img("../img/MP3Project-Logo.png", $v250);

  }
  .contentLists{
    @include flex-column;
    @include flex-center;

  }

  .contentSong{
    @include flex-column;
    @include flex-center;
    row-gap: 1.5em;
  }

  .btnUser{
    background-color: $white;
    @include sizes(75px, 75px);
    border-radius: 12px;
    i{
      font-size: 2em;
    }
  }

  .btnBack{
    background-color: $white;
    @include sizes(75px, 75px);
    border-radius: 12px;
    i{
      font-size: 2em;
    }
  }

  .formAddListUser{
    @include flex-column;
    @include flex-center;
    row-gap: 2em;
    width: 40em;

    input{
      width: 75%;
      height: 4em;
      border-radius: $v12;
    }
  }

}

@media (min-width: 768px) and (max-width: 1024px){
  .logo{
    @include sizes(175px, 275px);
    @include bg-img("../img/MP3Project-Logo.png", $v250);
  }
  .contentLists{
    @include flex-column;
    @include flex-center;

  }

  .contentSong{
    @include flex-row;
    justify-content: space-evenly;
    row-gap: 1.5em;
  }

  .btnUser{
    background-color: $white;
    @include sizes(75px, 75px);
    border-radius: 12px;
    i{
      font-size: 2em;
    }
  }

  .btnBack{
    background-color: $white;
    @include sizes(75px, 75px);
    border-radius: 12px;
    i{
      font-size: 2em;
    }
  }

  .formAddListUser{
    @include flex-column;
    @include flex-center;
    row-gap: 2em;
    width: 40em;

    input{
      width: 75%;
      height: 4em;
      border-radius: $v12;

    }
  }
}

@media (min-width: 1024px){
  .logo{
    @include sizes(100px, 275px);
    @include bg-img("../img/MP3Project-Logo.png", 200px);
  }
  .contentLists{
    @include flex-row;
    @include flex-center;

  }

  .contentSong{
    @include flex-row;
    justify-content: center;
    row-gap: 1.5em;
  }

  .btnUser{
    background-color: $white;
    @include sizes(50px, 50px);
    border-radius: 12px;
    i{
      font-size: 1.2em;
    }
  }

  .btnBack{
    background-color: $white;
    @include sizes(50px, 50px);
    border-radius: 12px;
    i{
      font-size: 1.2em;
    }
  }

  .formAddListUser{
    @include flex-row;
  }
}