.contentSong{
  background-color: $lightgrey;
  border-radius: $v12;
  padding: $v20;
  margin-bottom: 2em;

  .song{
    @include flex-row;
    column-gap: 0;
    border-radius: 12px;
    background-color: $white;


    .songInfo{
      height: 150px;
      width: 350px;


      a{
        @include flex-column;
        text-decoration: none;
        row-gap: 2em;
        color: $black;
        font-weight: bold;
        font-size: 1.2em;
        transition: font-size 0.6s, row-gap 0.6s, width 0.6s ease;

        div{
          margin-left: $v15;
          text-align: center;
          width: fit-content;
          transition: width 0.6s ease;
        }
      }
    }

    .nav{
      display: flex;
      align-items: end;
      justify-content: center;
      padding: $v10;
      background-color: $lightblue;
      text-align: center;

      button{
        font-size: 1.5rem;
      }

      .btnRemoveSong{
        border: none;
        background-color: transparent;
      }
      .btnRemoveSong:hover{
        cursor: pointer;
      }

    }
  }
  .song:hover .songInfo a {
    font-size: 1.3rem;
    row-gap: 0rem;
  }
}

.dropdown{
  display: inline-block;
  position: relative;
  width: 100px;

  .btnAddList{
    border: none;
    background-color: transparent;
    transition: transform 0.8s, font-size 1s;
    font-size: 1.2rem;
  }

  .btnAddList:hover{
    transform: rotate(90deg);
    font-size: 1.3rem;
  }

  .dropdown-content{
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    .form-dropdown{
      display: inline-block;
      position: relative;
      width: 100px;
    }

    button{
      color: black;
      width: 100%;
      text-decoration: none;
      display: block;
      background-color: white;
    }

    button:hover{
      background-color: #00A4BD;
      color: white;
    }
  }
}