// Colours
$black: #000000;
$white: #ffffff;
$lightblue: #12d5b0;
$lightgrey: #d0cfcf;

// Sizes
$v0: 0px;
$v5: 5px;
$v10: 10px;
$v12: 12px;
$v15: 15px;
$v20: 20px;
$v175: 175px;
$v250: 250px;
$v600: 600px;
$v700: 700px;
$nav-w: 175px;