// Colours
$black: rgba(0, 0, 0, 0.9);
$white: rgba(255, 255, 255, 0.9);
$lightblue: #58e9e1;
$lightgrey: #131b1b;
$floor: #205E61;

// Sizes
$v0: 0px;
$v5: 5px;
$v10: 10px;
$v12: 12px;
$v15: 15px;
$v20: 20px;
$v175: 175px;
$v250: 250px;
$v600: 600px;
$v700: 700px;
$nav-w: 175px;