body {
  padding: 0px;
  margin: 0px;
  font-family: "Century Gothic", serif;
  background-color: #205E61;
}

button:hover {
  cursor: pointer;
}

.wrapper .header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 1.5em;
  justify-content: space-between;
  background-color: #131b1b;
}
.wrapper .header .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 20px;
}

.path {
  display: flex;
  justify-content: center;
  align-items: center;
}
.path div {
  text-align: center;
}
.path div p {
  font-size: 40px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.9);
}

.contentLists {
  padding: 20px;
  background-color: #131b1b;
  row-gap: 3em;
  margin-bottom: 2em;
  border-radius: 12px;
}
.contentLists .listLists {
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 12px;
}
.contentLists .listLists .list {
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.9);
  font-weight: bold;
}
.contentLists .listLists .list .nameList {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-left: 15px;
}
.contentLists .listLists .list .descriptionList {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 15px;
}
.contentLists .listLists a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
}
.contentLists .listLists div:hover {
  background-position: bottom;
}

.dropdown:hover .dropdown-content {
  display: block;
  overflow: visible;
}

@media (max-width: 767px) {
  .logo {
    width: 175px;
    height: 150px;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150px;
  }
  .navbar {
    column-gap: 0;
  }
  .navbar button {
    background: none;
    border: none;
    display: flex;
    justify-content: center;
  }
  .navbar button i {
    color: #58e9e1;
    font-size: 30px;
    margin: auto;
  }
  .contentLists {
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
  }
  .contentLists .listLists {
    width: 300px;
    height: 125px;
  }
  .contentLists .listLists .list {
    width: 300px;
    height: 125px;
    row-gap: 1rem;
  }
  .contentLists .listLists .list .nameList {
    font-size: 1.3em;
  }
  .contentLists .listLists .list .descriptionList {
    font-size: 1.1em;
  }
  .contentLists .Reggeton {
    background-image: url("../img/regueton.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px;
    transition: background-position, 2s;
  }
  .contentLists .Rock {
    background-image: url("../img/rock.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px;
    transition: background-position, 2s;
  }
  .contentLists .Rap {
    background-image: url("../img/rap.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px;
    transition: background-position, 2s;
  }
  .contentLists .Electronic {
    background-image: url("../img/electronic.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px;
    transition: background-position, 2s;
  }
  .contentLists .Pop {
    background-image: url("../img/pop.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px;
    transition: background-position, 2s;
  }
  .contentLists .Flamenco {
    background-image: url("../img/flamenco.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px;
    transition: background-position, 2s;
  }
  .contentSong {
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 1.5em;
    margin: 0px;
  }
  .contentSong .nav {
    width: 100%;
    height: 30px;
  }
  .btnUser {
    background-color: rgba(255, 255, 255, 0.9);
    width: 75px;
    height: 75px;
    border-radius: 12px;
  }
  .btnUser i {
    font-size: 2em;
  }
  .btnBack {
    background-color: rgba(255, 255, 255, 0.9);
    width: 75px;
    height: 75px;
    border-radius: 12px;
  }
  .btnBack i {
    font-size: 2em;
  }
  .addListUser {
    margin: 0px;
  }
  .addListUser form {
    width: 100%;
  }
  .addListUser .formAddListUser {
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 2em;
    width: 100%;
  }
  .addListUser .formAddListUser input {
    width: 75%;
    height: 4em;
    border-radius: 12px;
  }
  .listUser {
    margin: 2em 0px;
  }
  .listUser .nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1.5em;
  }
  .listsSongsForm .nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1.5em;
    width: 100%;
  }
  .floor-rp {
    background-image: url("../img/floor-rp-xs.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 125%;
  }
  .containerRp {
    top: 26%;
    left: 5%;
    width: 80vw;
  }
  .containerRp .titleSong {
    font-size: 2.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .logo {
    width: 275px;
    height: 175px;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;
  }
  .navbar {
    column-gap: 1.5em;
  }
  .navbar button {
    background: none;
    border: none;
    display: flex;
    justify-content: center;
  }
  .navbar button i {
    color: #58e9e1;
    font-size: 40px;
    margin: auto;
  }
  .contentLists {
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 15px;
  }
  .contentLists .listLists {
    width: 600px;
    height: 250px;
  }
  .contentLists .listLists .list {
    width: 600px;
    height: 250px;
    row-gap: 4rem;
  }
  .contentLists .listLists .list .nameList {
    font-size: 2em;
  }
  .contentLists .listLists .list .descriptionList {
    font-size: 1.8em;
  }
  .contentLists .Reggeton {
    background-image: url("../img/regueton.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 600px;
    transition: background-position, 2s;
  }
  .contentLists .Rock {
    background-image: url("../img/rock.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 600px;
    transition: background-position, 2s;
  }
  .contentLists .Rap {
    background-image: url("../img/rap.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 600px;
    transition: background-position, 2s;
  }
  .contentLists .Electronic {
    background-image: url("../img/electronic.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 600px;
    transition: background-position, 2s;
  }
  .contentLists .Pop {
    background-image: url("../img/pop.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 600px;
    transition: background-position, 2s;
  }
  .contentLists .Flamenco {
    background-image: url("../img/flamenco.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 600px;
    transition: background-position, 2s;
  }
  .contentSong {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1.5em;
    justify-content: space-evenly;
    row-gap: 1.5em;
    margin: 0 100px;
  }
  .contentSong .nav {
    width: 50px;
  }
  .btnUser {
    background-color: rgba(255, 255, 255, 0.9);
    width: 75px;
    height: 75px;
    border-radius: 12px;
  }
  .btnUser i {
    font-size: 2em;
  }
  .btnBack {
    background-color: rgba(255, 255, 255, 0.9);
    width: 75px;
    height: 75px;
    border-radius: 12px;
  }
  .btnBack i {
    font-size: 2em;
  }
  .addListUser {
    margin: 0 100px;
  }
  .addListUser .formAddListUser {
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 2em;
    width: 100%;
  }
  .addListUser .formAddListUser input {
    width: 75%;
    height: 4em;
    border-radius: 12px;
  }
  .addListUser form {
    width: 100%;
  }
  .listUser {
    margin: 2em 100px;
  }
  .listUser .nav {
    width: 50px;
    display: flex;
    flex-direction: column;
  }
  .listsSongsForm .nav {
    display: flex;
    flex-direction: column;
    width: 50px;
  }
  .floor-rp {
    background-image: url("../img/floor-rp-xs.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 125%;
  }
  .containerRp {
    top: 25%;
    left: 20%;
    width: 60vw;
  }
}
@media (min-width: 1024px) {
  .logo {
    width: 275px;
    height: 100px;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;
  }
  .navbar {
    column-gap: 1.5em;
  }
  .navbar button {
    background: none;
    border: none;
    display: flex;
    justify-content: center;
  }
  .navbar button i {
    color: #58e9e1;
    font-size: 30px;
    margin: auto;
  }
  .contentLists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 100px;
  }
  .contentLists .listLists {
    width: 600px;
    height: 250px;
  }
  .contentLists .listLists .list {
    width: 600px;
    height: 250px;
    row-gap: 4rem;
  }
  .contentLists .listLists .list .nameList {
    font-size: 2em;
  }
  .contentLists .listLists .list .descriptionList {
    font-size: 1.8em;
  }
  .contentLists .Reggeton {
    background-image: url("../img/regueton.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 600px;
    transition: background-position, 2s;
  }
  .contentLists .Rock {
    background-image: url("../img/rock.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 600px;
    transition: background-position, 2s;
  }
  .contentLists .Rap {
    background-image: url("../img/rap.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 600px;
    transition: background-position, 2s;
  }
  .contentLists .Electronic {
    background-image: url("../img/electronic.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 600px;
    transition: background-position, 2s;
  }
  .contentLists .Pop {
    background-image: url("../img/pop.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 600px;
    transition: background-position, 2s;
  }
  .contentLists .Flamenco {
    background-image: url("../img/flamenco.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 600px;
    transition: background-position, 2s;
  }
  .contentSong {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1.5em;
    justify-content: center;
    row-gap: 1.5em;
    margin: 0 100px;
  }
  .contentSong .nav {
    width: 50px;
  }
  .btnUser {
    background-color: rgba(255, 255, 255, 0.9);
    width: 50px;
    height: 50px;
    border-radius: 12px;
  }
  .btnUser i {
    font-size: 1.2em;
  }
  .btnBack {
    background-color: rgba(255, 255, 255, 0.9);
    width: 50px;
    height: 50px;
    border-radius: 12px;
  }
  .btnBack i {
    font-size: 1.2em;
  }
  .addListUser {
    margin: 0 100px;
  }
  .addListUser .formAddListUser {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1.5em;
  }
  .listUser {
    margin: 2em 100px;
  }
  .listUser .nav {
    width: 50px;
    display: flex;
    flex-direction: column;
  }
  .listsSongsForm .nav {
    display: flex;
    flex-direction: column;
    width: 50px;
  }
  .floor-rp {
    background-image: url("../img/floor-rp-lg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 115%;
  }
  .containerRp {
    top: 20%;
    left: 25%;
    width: 50vw;
  }
}
.contentSong {
  background-color: #131b1b;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 2em;
}
.contentSong .song {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 1.5em;
  column-gap: 0;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.9);
}
.contentSong .song .songInfo {
  height: 150px;
  width: 350px;
}
.contentSong .song .songInfo a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  row-gap: 2em;
  color: rgba(0, 0, 0, 0.9);
  font-weight: bold;
  font-size: 1.2em;
  transition: font-size 0.6s, row-gap 0.6s, width 0.6s ease;
}
.contentSong .song .songInfo a div {
  margin-left: 15px;
  text-align: center;
  width: fit-content;
  transition: width 0.6s ease;
}
.contentSong .song .nav {
  display: flex;
  align-items: end;
  justify-content: center;
  padding: 10px;
  background-color: #58e9e1;
  text-align: center;
}
.contentSong .song .nav button {
  font-size: 1.5rem;
}
.contentSong .song .nav .btnRemoveSong {
  border: none;
  background-color: transparent;
}
.contentSong .song .nav .btnRemoveSong:hover {
  cursor: pointer;
}
.contentSong .song:hover .songInfo a {
  font-size: 1.3rem;
  row-gap: 0rem;
}

.dropdown {
  display: inline-block;
  position: relative;
  width: 100px;
}
.dropdown .btnAddList {
  border: none;
  background-color: transparent;
  transition: transform 0.8s, font-size 1s;
  font-size: 1.2rem;
}
.dropdown .btnAddList:hover {
  transform: rotate(90deg);
  font-size: 1.3rem;
}
.dropdown .dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.dropdown .dropdown-content .form-dropdown {
  display: inline-block;
  position: relative;
  width: 100px;
}
.dropdown .dropdown-content button {
  color: black;
  width: 100%;
  text-decoration: none;
  display: block;
  background-color: white;
}
.dropdown .dropdown-content button:hover {
  background-color: #00A4BD;
  color: white;
}

.addListUser {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 1.5em;
  background-color: #131b1b;
  border-radius: 12px;
  padding: 15px;
}
.addListUser form {
  display: none;
}
.addListUser .btnAddListUser {
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  transition: transform, 1s;
  color: rgba(255, 255, 255, 0.9);
}
.addListUser .btnAddListUser:hover {
  transform: rotate(90deg);
}
.addListUser .formAddListUser {
  align-items: center;
  column-gap: 1em;
}
.addListUser .formAddListUser input {
  background: none;
  border: none;
  color: rgba(255, 255, 255, 0.9);
}
.addListUser .formAddListUser input:focus {
  outline: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.9);
}
.addListUser .formAddListUser input::placeholder {
  color: rgba(255, 255, 255, 0.9);
}
.addListUser .formAddListUser button {
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  transition: transform, 1s;
  color: rgba(255, 255, 255, 0.9);
}
.addListUser .formAddListUser button:hover {
  transform: scale(1.3);
}

.listUser {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 1.5em;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 1.5em;
  row-gap: 1.5em;
  background-color: #131b1b;
  border-radius: 12px;
  padding: 20px;
}
.listUser .listUserSong {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 1.5em;
  column-gap: 0;
}
.listUser .listUserSong .listsSongs {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 1.5em;
  column-gap: 0;
}
.listUser .listUserSong .listsSongs .list {
  text-decoration: none;
}
.listUser .listUserSong .listsSongs .songInfo {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 150px;
  row-gap: 2em;
  color: rgba(0, 0, 0, 0.9);
}
.listUser .listUserSong .listsSongs .songInfo div {
  margin-left: 15px;
  font-weight: bold;
  font-size: 1.2em;
}
.listUser .listUserSong .listsSongs .nav {
  text-align: center;
  justify-content: end;
  row-gap: 0.3em;
  padding: 10px;
  background-color: #58e9e1;
}
.listUser .listUserSong .listsSongs .nav button {
  background-color: transparent;
  border: none;
  font-size: 1.2em;
}
.listUser .listUserSong .listsSongs .nav button:hover {
  cursor: pointer;
}
.listUser .listUserSong .listsSongsForm {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 12px;
  display: none;
  flex-direction: row;
  column-gap: 0;
}
.listUser .listUserSong .listsSongsForm .formListSongs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 1.5em;
  column-gap: 0;
}
.listUser .listUserSong .listsSongsForm .formListSongs .inputList {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 150px;
  row-gap: 2em;
}
.listUser .listUserSong .listsSongsForm .formListSongs .inputList input {
  margin-left: 15px;
  height: 1.2em;
  width: 90%;
  background: none;
  border: none;
  font-size: 1.2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.9);
}
.listUser .listUserSong .listsSongsForm .formListSongs .inputList input::placeholder {
  color: rgba(0, 0, 0, 0.9);
}
.listUser .listUserSong .listsSongsForm .formListSongs .inputList input:focus {
  outline: none;
}
.listUser .listUserSong .listsSongsForm .formListSongs .inputList input:first-child {
  margin-top: 1.4em;
}
.listUser .listUserSong .listsSongsForm .formListSongs .nav {
  text-align: center;
  justify-content: end;
  row-gap: 0.3em;
  padding: 10px;
  background-color: #58e9e1;
}
.listUser .listUserSong .listsSongsForm .formListSongs .nav button {
  background-color: transparent;
  border: none;
  font-size: 1.2em;
}
.listUser .listUserSong .listsSongsForm .formListSongs .nav button:hover {
  cursor: pointer;
}

.containerRp {
  background-color: #131b1b;
  height: 60vh;
  color: rgba(255, 255, 255, 0.9);
  padding: 1rem;
  border-radius: 25px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.9);
  position: absolute;
  display: flex;
  flex-direction: column;
}
.containerRp .artistSong {
  text-align: end;
  font-size: 1.2rem;
  font-weight: bold;
}
.containerRp .titleSong {
  margin: auto;
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
}
.containerRp .controls {
  display: flex;
  flex-direction: column;
}
.containerRp .controls .btn-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.containerRp .controls .btn-controls .playPause {
  width: 100%;
  text-align: end;
}
.containerRp .controls .btn-controls .audioMute {
  width: 90%;
  text-align: end;
}
.containerRp .controls .btn-controls .audioMute button {
  margin-right: 3rem;
}
.containerRp .controls .btn-controls button {
  border: none;
  background: none;
  font-size: 2em;
  color: #58e9e1;
  transition: color 0.5s;
}
.containerRp .controls .btn-controls button:hover {
  color: #109690;
}
.containerRp .controls .rangeSong {
  width: 90%;
  margin: 1rem auto;
}
.containerRp .controls .rangeSong input {
  width: 100%;
}
.containerRp .controls .rangeSong input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
.containerRp .controls .rangeSong input[type=range]:focus {
  outline: none;
}
.containerRp .controls .rangeSong input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 5px #000000;
  background: none;
  border-radius: 6px;
  border: 1px solid #205E61;
}
.containerRp .controls .rangeSong input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 13px;
  border-radius: 8px;
  background: #58E9E1;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11px;
}
.containerRp .controls .rangeSong input[type=range]:focus::-webkit-slider-runnable-track {
  background: none;
}
.containerRp .controls .rangeSong input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 5px #000000;
  background: none;
  border-radius: 6px;
  border: 1px solid #205E61;
}
.containerRp .controls .rangeSong input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 13px;
  border-radius: 8px;
  background: #58E9E1;
  cursor: pointer;
}
.containerRp .controls .rangeSong input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.containerRp .controls .rangeSong input[type=range]::-ms-fill-lower {
  background: none;
  border: 1px solid #205E61;
  border-radius: 12px;
  box-shadow: 1px 1px 5px #000000;
}
.containerRp .controls .rangeSong input[type=range]::-ms-fill-upper {
  background: none;
  border: 1px solid #205E61;
  border-radius: 12px;
  box-shadow: 1px 1px 5px #000000;
}
.containerRp .controls .rangeSong input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 13px;
  border-radius: 8px;
  background: #58E9E1;
  cursor: pointer;
}
.containerRp .controls .rangeSong input[type=range]:focus::-ms-fill-lower {
  background: none;
}
.containerRp .controls .rangeSong input[type=range]:focus::-ms-fill-upper {
  background: none;
}