body {
  padding: 0px;
  margin: 0px;
  font-family: "Bodoni MT", serif;
}

.wrapper {
  background-color: #ffffff;
}
.wrapper .header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 1.5em;
  justify-content: space-between;
  background-color: #d0cfcf;
}
.wrapper .header .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 20px;
  column-gap: 1.5em;
}
.wrapper .header .navbar button {
  cursor: pointer;
}

.path {
  display: flex;
  justify-content: center;
  align-items: center;
}
.path p {
  font-size: 40px;
  font-weight: bold;
}

.contentLists {
  padding: 20px;
  background-color: #d0cfcf;
  row-gap: 3em;
  margin: 0px 100px;
  margin-bottom: 2em;
  border-radius: 12px;
}
.contentLists .listLists {
  width: 600px;
  height: 250px;
  padding: 5px;
  background-color: #ffffff;
  border-radius: 12px;
}
.contentLists .listLists .list {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 250px;
  row-gap: 4em;
  color: #ffffff;
  font-weight: bold;
}
.contentLists .listLists .list .nameList {
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 2em;
  margin-left: 15px;
}
.contentLists .listLists .list .descriptionList {
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 1.8em;
  margin-right: 15px;
}
.contentLists .listLists a {
  text-decoration: none;
  color: #000000;
}
.contentLists .listLists div:hover {
  background-position: bottom;
}

.contentLists .Reggeton {
  background-image: url("../img/badBunny.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 600px;
  transition: background-position, 2s;
}
.contentLists .Rock {
  background-image: url("../img/rock.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 600px;
  transition: background-position, 2s;
}
.contentLists .Rap {
  background-image: url("../img/rap.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 600px;
  transition: background-position, 2s;
}
.contentLists .Electronic {
  background-image: url("../img/electronic.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 600px;
  transition: background-position, 2s;
}
.contentLists .Pop {
  background-image: url("../img/pop.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 600px;
  transition: background-position, 2s;
}
.contentLists .Flamenco {
  background-image: url("../img/flamenco.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 600px;
  transition: background-position, 2s;
}

.dropdown {
  display: inline-block;
  position: relative;
  width: 100px;
}
.dropdown .btnAddList {
  border: none;
  background-color: transparent;
  transition: transform, 1s;
}
.dropdown .btnAddList:hover {
  transform: rotate(90deg);
}
.dropdown .dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.dropdown .dropdown-content .form-dropdown {
  display: inline-block;
  position: relative;
  width: 100px;
}
.dropdown .dropdown-content button {
  color: black;
  width: 100%;
  text-decoration: none;
  display: block;
  background-color: white;
}
.dropdown .dropdown-content button:hover {
  background-color: #00A4BD;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
  overflow: visible;
}

.contentSong {
  background-color: #d0cfcf;
  padding: 20px;
  margin: 0 100px;
  margin-bottom: 2em;
}
.contentSong .song {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 1.5em;
  column-gap: 0;
  border-radius: 12px;
}
.contentSong .song .songInfo {
  background-color: #000000;
  height: 150px;
  width: 350px;
}
.contentSong .song .songInfo a {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
  color: #ffffff;
  font-weight: bold;
}
.contentSong .song .songInfo a .titleSong {
  margin-left: 15px;
}
.contentSong .song .songInfo a .descriptionSong {
  margin-left: 15px;
}
.contentSong .song .drop {
  display: flex;
  align-items: end;
  text-align: center;
  padding: 10px;
  background-color: red;
  width: 50px;
}

@media (max-width: 768px) {
  .logo {
    width: 275px;
    height: 175px;
    background-image: url("../img/MP3Project-Logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 250px;
  }
  .contentLists {
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contentSong {
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 1.5em;
  }
  .btnUser {
    background-color: #ffffff;
    width: 75px;
    height: 75px;
    border-radius: 12px;
  }
  .btnUser i {
    font-size: 2em;
  }
  .btnBack {
    background-color: #ffffff;
    width: 75px;
    height: 75px;
    border-radius: 12px;
  }
  .btnBack i {
    font-size: 2em;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .logo {
    width: 275px;
    height: 175px;
    background-image: url("../img/MP3Project-Logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 250px;
  }
  .contentLists {
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contentSong {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1.5em;
    justify-content: space-evenly;
    row-gap: 1.5em;
  }
  .btnUser {
    background-color: #ffffff;
    width: 75px;
    height: 75px;
    border-radius: 12px;
  }
  .btnUser i {
    font-size: 2em;
  }
  .btnBack {
    background-color: #ffffff;
    width: 75px;
    height: 75px;
    border-radius: 12px;
  }
  .btnBack i {
    font-size: 2em;
  }
}
@media (min-width: 1024px) {
  .logo {
    width: 275px;
    height: 100px;
    background-image: url("../img/MP3Project-Logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;
  }
  .contentLists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contentSong {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1.5em;
    justify-content: center;
    row-gap: 1.5em;
  }
  .btnUser {
    background-color: #ffffff;
    width: 50px;
    height: 50px;
    border-radius: 12px;
  }
  .btnUser i {
    font-size: 1.2em;
  }
  .btnBack {
    background-color: #ffffff;
    width: 50px;
    height: 50px;
    border-radius: 12px;
  }
  .btnBack i {
    font-size: 1.2em;
  }
}

/*# sourceMappingURL=style.css.map */
