<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SoundVibe</title>
    <link rel="icon" type="image/png" href="/img/logo-head.png">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/5cc499f238.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="wrapper">

        <div class="header">

            <a th:href="@{/home}">
                <div class="logo"></div>
            </a>

            <div class="navbar">
                <div>
                    <a th:href="@{/user}">
                        <button class="btnUser">
                            <i class="fas fa-user"></i>
                        </button>
                    </a>
                </div>
            </div>

        </div>


        <div class="path">
            <div><p>HOME</p></div>
        </div>


        <div class="contentLists">

            <div th:each="list,iter: ${lists}" class="listLists">
                <div th:class="${list.name}">
                    <a th:href="@{/listSong/songs/{idList}(idList=${list.id})}" class="list">
                        <div class="nameList">
                            <p> <span th:text="${list.name}"/></p>
                        </div>
                        <div class="descriptionList">
                            <p> <span th:text="${list.description}"/></p>
                        </div>
                    </a>
                </div>
            </div>

        </div>

    </div>

</body>
</html>