<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
    <div>
        <div><h1>Home</h1></div>
        <div><a th:href="@{/user}"><button><i class="fas fa-user"></i></button></a></div>
    </div>

    <div>
      <div th:each="list,iter: ${lists}">
      <a th:href="@{/listSong/songs/{idList}(idList=${list.id})}">
          <span th:text="${list.name}"></span>
      </a>
    </div>
</body>
</html>