<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>songs</title>
</head>
<body>
    <h1><span th:text="${title}"></span></h1>
    <div style="display: flex; flex-direction: row; justify-content: space-around;background-color: grey;gap: 20px">
        <div th:each="song,iter: ${songs}" style="width: 100%;display: flex;justify-content: center;height: 60px">
            <a style="width: 100%;height: 100%;display: flex;text-decoration: none" th:href="@{/listSong/songs/rpsong/{idList}/{idSong}(idList=${idList}, idSong=${song.id})}">
                <button type="submit" style="width: 100%;height: 100%"> <span th:text="${song.title}"/> </button>
            </a>
        </div>
    </div>
</body>
</html>