<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>songs</title>
    <script src="https://kit.fontawesome.com/5cc499f238.js" crossorigin="anonymous"></script>
<!--    <link rel="stylesheet" href="../static/css/style.css">-->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="wrapper">

        <div class="header">
            <div class="logo"></div>

            <div class="navbar">
                <div><a th:href="@{/user}"><button class="btnUser"><i class="fas fa-user"></i></button></a></div>
                <div><a th:href="@{/home}"><button class="btnBack"><i class="fas fa-home"></i></button></a></div>
            </div>

        </div>

        <div class="path">
            <div><p><span th:text="${description}"></span></p></div>
        </div>

        <div class="contentSong">
            <div th:each="song,iter: ${songs}" class="song">

                <div class="songInfo">
                    <a th:href="@{/listSong/songs/rpsong/{idList}/{idSong}(idList=${idList}, idSong=${song.id})}">
                        <div class="titleSong">
                            <p><span th:text="${song.title}"/></p>
                        </div>

                        <div class="artistSong">
                            <p><span th:text="${song.artist}"/></p>
                        </div>
                    </a>
                </div>

                <div class="nav">
                    <form th:action="@{/listSong/songs/{idList}/{idSong}(idList=${idList}, idSong=${song.id})}" method="post">
                        <button type="submit" class="btnRemoveSong"><i class="fas fa-minus"></i></button>
                    </form>
                </div>

            </div>
        </div>

    </div>

</body>
</html>