<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:div="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>user</title>
    <script src="https://kit.fontawesome.com/5cc499f238.js" crossorigin="anonymous"></script>
<!--    <link rel="stylesheet" href="/style-user.css">-->
<!--    <link rel="stylesheet" href="../static/css/style.css">-->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="wrapper">

        <div class="header">
            <div class="logo"></div>
            <div class="navbar">
                <div><a th:href="@{/home}"><button class="btnBack"><i class="fas fa-home"></i></button></a></div>
            </div>
        </div>

        <div class="path">
            <div><p>USER</p></div>
        </div>

        <div class="addListUser">
            <div>
                <button onclick="addNewList()" class="btnAddListUser"><i class="fas fa-plus"></i></button>
            </div>
            <form th:action="@{user}" method="post" th:object="${newList}" id="formNewList">
                <div class="formAddListUser">
                    <input type="text" name="name" placeholder="name">
                    <input type="text" name="description" placeholder="description">
                    <button type="submit"><i class="fas fa-save" onclick="saveNewListForm()"></i></button>
                </div>
            </form>
        </div>

        <div class="listUser">
            <th:block th:each="list,iter: ${lists}">
                <div th:object="${list}" class="listUserSong">

                    <div class="listsSongs">
                        <a th:href="@{/listSong/songsUser/{idList}(idList=${list.id})}" class="list">
                            <div class="songInfo">
                                <div>
                                    <p><span th:text="${list.name}"></span></p>
                                </div>
                                <div>
                                    <p><span th:text="${list.description}"></span></p>
                                </div>
                            </div>
                        </a>

                        <div class="nav">
                            <div>
                                <button th:attr="onclick=|editSong('${iter.count}')|" id="btnEditList"><i class="fas fa-edit"></i></button>
                            </div>
                            <div>
                                <form th:action="@{/user/{id}(id=${list.id})}" method="post">
                                    <button type="submit"><i class="fas fa-minus"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="listsSongsForm">
                        <form th:action="@{/user/{id}(id=${list.id})}" method="post" th:object="${list}">

                            <div class="formListSongs">
                                <div class="inputList">
                                    <div>
                                        <input type="text" name="name" placeholder="name" th:value="*{name}">
                                    </div>
                                    <div>
                                        <input type="text" name="description" placeholder="description" th:value="*{description}">
                                    </div>
                                </div>

                                <div class="nav">
                                    <button type="submit" onclick="saveListForm()"><i class="fas fa-save" id="btnSaveListForm"></i></button>
                                </div>
                            </div>

                        </form>
                    </div>

                </div>
            </th:block>
        </div>

    </div>


    <script>

        function editSong(i){
            console.log(i);
            const formSong = document.getElementsByClassName("listsSongsForm");
            const listSong = document.getElementsByClassName("listsSongs");

            formSong[i-1].style.display = "flex";
            listSong[i-1].style.display = "none";

        }
        function saveListForm(){
            let listSongsForm = document.getElementsByClassName("listsSongsForm");
            let listSongs = document.getElementsByClassName("listsSongs");
            for (const listForm of listSongsForm) {
                listForm.style.display = "none";
                listSongs.style.display = "flex";
            }
        }

        function addNewList(){
            let formNewList = document.getElementById("formNewList");
            if(formNewList.style.display === "flex"){
                formNewList.style.display = "none";
            }else{
                formNewList.style.display = "flex"
            }
        }

        function saveNewListForm(){
            let formNewList = document.getElementById("formNewList");
            formNewList.style.display = "none";
        }

    </script>
</body>
</html>