<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:div="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>user</title>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style-user.css">
</head>
<body>
    <div>
        <div>
            <div><button onclick="history.go(-1);"><i class="fas fa-angle-left"></i></button></div>
            <div><h1>User</h1></div>
        </div>
    </div>

    <hr>
    <div style="display: flex;flex-direction: row">
        <div>
            <button onclick="addNewList()"><i class="fas fa-plus"></i></button>
        </div>
        <form th:action="@{user}" method="post" th:object="${newList}" id="formNewList">
            <div>
                <input type="text" name="name" placeholder="name">
                <input type="text" name="description" placeholder="description">
                <button type="submit"><i class="fas fa-save" onclick="saveNewListForm()"></i></button>
            </div>
        </form>
    </div>
    <hr>

    <div>
        <th:block th:each="list,iter: ${lists}">
            <div th:object="${list}">
                <div class="listsSongs">
                    <div>
                        <a th:href="@{/listSong/songsUser/{idList}(idList=${list.id})}" class="list"><span th:text="${list.name}"></span></a>
                    </div>
                    <div>
                        <button th:attr="onclick=|editSong('${iter.count}')|" id="btnEditList"><i class="fas fa-edit"></i></button>
                    </div>
                    <div>
                        <form th:action="@{/user/{id}(id=${list.id})}" method="post">
                            <button type="submit"><i class="fas fa-minus"></i></button>
                        </form>
                    </div>
                </div>
                <div class="listsSongsForm">
                    <form th:action="@{/user/{id}(id=${list.id})}" method="post" th:object="${list}">
                        <div>
                            <input type="text" name="name" placeholder="name" th:value="*{name}">
                            <input type="text" name="description" placeholder="description" th:value="*{description}">
                            <button type="submit" onclick="saveListForm()"><i class="fas fa-save" id="btnSaveListForm"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </th:block>
    </div>
    <hr>
    <!--    <a id="gracias" href="">gracias, señor todopoderoso</a>-->
    <script>

        function editSong(i){
            console.log(i);
            const formSong = document.getElementsByClassName("listsSongsForm");
            const listSong = document.getElementsByClassName("listsSongs");

            formSong[i-1].style.display = "flex";
            listSong[i-1].style.display = "none";


            //.getElementById("listsSongsForm").style.display = "flex";
            //document.getElementById("listsSongs").style.display = "none";
        }
        function saveListForm(){
            let listSongsForm = document.getElementsByClassName("listsSongsForm");
            let listSongs = document.getElementsByClassName("listsSongs");
            for (const listForm of listSongsForm) {
                listForm.style.display = "none";
                listSongs.style.display = "flex";
            }
        }

        function addNewList(){
            let formNewList = document.getElementById("formNewList");
            if(formNewList.style.display === "flex"){
                formNewList.style.display = "none";
            }else{
                formNewList.style.display = "flex"
            }
        }

        function saveNewListForm(){
            let formNewList = document.getElementById("formNewList");
            formNewList.style.display = "none";
        }

    </script>
</body>
</html>